<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ConectionString" value="Data Source=DESKTOP-0D2H5JK\SQLSERVER;Initial Catalog=MaxWarehouse;Integrated Security=True;" />
    <add key="UsrAmazon" value="vpverbena@maxwarehouse.com" />
    <add key="PassAmazon" value="maxshippinganalyst" />
    <add key="DiasFacturacion" value="1" />
    <add key="PathCookies" value="C:\Users\ANTONIO\AppData\Local\Google\Chrome\User Data\Amazon" />
    <add key="FechaPruebas" value="01/01/1900"/>
    <!-- 01/01/1900 MM/dd/yyyy toma la fecha del dia, cualquier otra indica la fecha a procesar -->
    <add key="RutaDescarga" value="F:\DX Latam Process\AmazonAllStatements\Data\" />
    <add key="CarpetaArchivosSecundarios" value="C:\Users\ANTONIO\Documents\Trabajo\Mis Proyectos\DescargaAmazonAllStatements\Data\" />
    <add key="RutaArchivosOutputs" value="C:\Users\ANTONIO\Documents\Trabajo\Mis Proyectos\DescargaAmazonAllStatements\Data\" />

    <add key="EmailFrom" value="remotomax19@gmail.com"/>
    <add key="EmailsTo" value="avasquez@dxlatam.com"/>
    <add key="EmailsTo1" value="avasquez@dxlatam.com"/>
    
    <add key="EmailsTo2" value="alopez@dxlatam.com"/>
    <add key="EmailSubject" value="Report all statements"/>
    
    <add key="EmailBodyFile" value="Se envia el archivo returns @@ de la semana a facturar ."/>
    <add key="EmailBodyEmpty" value="Se envia el archivo descargado de amazon @@ de la semana a facturar ."/>
    <add key="EmailBodyNoFilePO" value="Se envia el archivo descargado de amazon @@ de la semana a facturar ."/>
    <add key="EmailBodyNoFileEDI" value="Se envia el archivo descargado de amazon @@ de la semana a facturar ."/>
    <add key="EmailBodyNoFilePOEDI" value="Se envia el archivo descargado de amazon @@ de la semana a facturar ."/>
    <add key="EmailBodyNoFilePOEDIWithData" value="Se envia el archivo descargado de amazon @@ de la semana a facturar ."/>
    
    <add key="EmailPort" value="587"/>
    <add key="EmailHost" value="smtp.gmail.com"/>
    <add key="EmailCredentialUser" value="remotomax19@gmail.com"/>
    <add key="EmailCredentialPassword" value="Inicio456"/>
    
  </appSettings>
</configuration>